<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/water.css"/>
    <link rel="stylesheet" href="css/highlight.css"/>
</head>
<body>
<h1><a href="/">Ryan Ohs</a></h1>

<hr style="margin: 0; border: solid 1px #201826"/>
<hr style="margin: 0; border: solid 1px var(--background-body)"/>
<hr style="margin: 0; border: solid 1px #201826"/>

<h2>{{ title }}</h2>

{{ content }}

<i style="color: var(--text-muted)">Written on {{ date }}</i>

<hr style="border: solid 1px #201826"/>

<div style="text-align: center"><a href="/rss">RSS</a></div>

</body>
</html>